

body {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    color: #9aa39a;
    line-height: 26px;
}

a {
    text-decoration: none;
}
h1 {
    max-width: 540px;
    letter-spacing: -2.5px;
    font-weight: 600;
    line-height: 1.1;
    margin-bottom: 65px;
    font-size: 80px;
    color: #192b59;
}

.center-box {
    max-width: 1110px;
    margin: 0 auto;
}

.page-header {
    background-image: url(../Image/Header-page.png);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 0 0 332px 0;
    position: relative;
}

.MainLogo {
    display: block;
    background-image: url(../Image/MainLimpon.png);
    width: 190px;
    height: 60px;
}

.box-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 99.5px;
    margin-bottom: 301px;
}

.nav {
    font-weight: 700 ;
    font-size: 12px;
    color: #6e7ea9;
    text-transform: uppercase;
    margin-left: 0px;
    list-style-type: none;
    letter-spacing: 2.5px;
    display: flex;
    justify-content: flex-end; 
    align-items: flex-start;
}
.nav li {
    padding-left: 38px;
}

.screen-img {
    display: block;
    background-image: url(../Image/Screen1.png);
    background-repeat: no-repeat;
    width: 895px;
    height: 740px;
    position: absolute;
    top: 233px;
    right: 402px;
    vertical-align: middle;

}


.page-company {
    background-image: url(../Image/company-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 100px 0 100px 0px;
}
.list-company{
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.list-company-item {
    display: block;
    flex-basis: 20%;
    background-repeat: no-repeat;
}
.company-one {
    background-image: url(../Image/Token.png);
    height: 65px;
}
.company-two {
    background-image: url(../Image/Magneto.png);
    height: 74px;
}
.company-three {
    background-image: url(../Image/BooHoo.png);
    height: 62px;
}
.company-four {
    background-image: url(../Image/Fractal.png);
    height: 69px;
}

.btn-group a+a {
    margin-left: 15px;
}

.page-subscribe{
    padding: 35px 0 48px 0;
    background: #0a2090;
    background: -moz-linear-gradient(left, #0a2090 0%, #2377cd 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, #0a2090), color-stop(100%, #2377cd));
    background: -webkit-linear-gradient(left, #0a2090 0%, #2377cd 100%);
    background: -o-linear-gradient(left, #0a2090 0%, #2377cd 100%);
    background: -ms-linear-gradient(left, #0a2090 0%, #2377cd 100%);
    background: linear-gradient(to right, #0a2090 0%, #2377cd 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0a2090', endColorstr='#2377cd', GradientType=1 );
}

.subscribe-robot {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.subscribe-text {
    line-height: 1.2;
}

.subscribe-text h2{
    margin-top: 0;
    margin-bottom: 25px;
}



.btn-primary {
    color: #ffff;
    background-color: #1085e4;
    font-weight: 700 ;
    font-size: 12px;
    text-transform: uppercase;
    padding: 21px 42px;
    letter-spacing: 2.2px;
    border-radius: 30px;
    border: 1px solid #1085e4;
}
.btn-primary:hover {
    color: #1085e4;
    background-color: #ffff;
}
  
.btn-secondary {
    color: #7e8bae;
    background-color: #cbdbe8;
    font-weight: 700 ;
    font-size: 12px;
    text-transform: uppercase;
    padding: 22px 38px;
    letter-spacing: 2.5px;
    border-radius: 30px;
    border: 1px solid #cbdbe8;
}
.btn-secondary:hover {
    color: #cbdbe8;
    background-color: #7e8bae;
}

.btn-info {
    color: #8085b1;
    background: transparent;
    font-weight: 700 ;
    font-size: 12px;
    text-transform: uppercase;
    padding: 21px 62px;
    letter-spacing: 2.5px;
    border-radius: 30px;
    border: 1px solid #dce1e5;
}
.btn-info:hover {
    color: #fff;
    background-color: #94b4cc;
    border: 1px solid #94b4cc;
}


.btn-ftrail {
    padding: 21px 53px;
    letter-spacing: 1.8px;
    font-weight: 400; 
}

.btn-learn {
    padding: 20px 65px;
    letter-spacing: 2.1px;
}


.page-grid{
    padding-top: 110px;
    padding-bottom: 100px;
}
.grid h2{
    line-height: 1.2;
    font-size: 40px;
    color: #192b59;
    font-weight: 700;
}

.grid h2 span {
    text-transform: uppercase;
    margin-bottom: 15px;
    letter-spacing: 2.1px;
    font-size: 14px;
    font-weight: 800;
    color: #1085e4;
    display: block;
}

.grid-item h3 {
    font-size: 20px;
    font-weight: 600;
    color: #192b59;    
}

.grid-item a {
    font-size: 14px;
    font-weight: 600;
    color: #1085e4;
}
.grid-item{
    padding: 50px;
    max-width: 250px;
    text-align: center;
    box-shadow: 0 0 5px #e7e6e6;
}
.grid-icon{
    display: block;
    background-repeat: no-repeat;
    margin: 0 auto;
}
.grid-icon-1{
    background-image: url(../Image/icon-1.png);
    width: 54px;
    height: 71px;
}
.grid-icon-2{
    background-image: url(../Image/icon-2.png);
    width: 65px;
    height: 76px;
}
.grid-icon-3{
    background-image: url(../Image/icon-3.png);
    width: 77px;
    height: 70px;
}
.grid-icon-4{
    background-image: url(../Image/icon-4.png);
    width: 70px;
    height: 70px;
}
.grid-icon-5{
    background-image: url(../Image/icon-5.png);
    width: 70px;
    height: 70px;
}
.grid-icon-6{
    background-image: url(../Image/icon-6.png);
    width: 74px;
    height: 75px;
}
.grid-icon{
    width: 90px;
    height: 90px;
}
.grid{
    display: grid;
    grid-template-areas: "a b c" "d b c" "d e f" "g e f" "g h h";
    grid-gap: 35px;
    grid-template-columns: 1fr 1fr 1fr;
}
.grid-item-title{
    grid-area: a;
}
.grid-item-1{
    grid-area: b;
}
.grid-item-2{
    grid-area: c;
}
.grid-item-3{
    grid-area: d;
}
.grid-item-4{
    grid-area: e;
}
.grid-item-5{
    grid-area: f;
}
.grid-item-6{
    grid-area: g;
}
.grid-item-text{
    grid-area: h;
}

.rosalina  {
    font-size: 14px;
    font-weight: 600;
    color: #1085e4;
}
.rosalina  span {
    font-size: 16px;
    font-weight: 700;
    color: #192b59;
}



.page-subscribe h2{
    letter-spacing: -1px;
    font-size: 50px;
    font-weight: 600;
    color: white;
}
.page-subscribe h2 span {
    letter-spacing: 3px;
    font-size: 14px;
    font-weight: 800;
    color: #00bffe;
    display: block;
    text-transform: uppercase;
    margin-bottom: 33px;
}
.page-subscribe p {
    font-size: 18px;
    font-weight: 500;
    color: #dfe8ff;
}

.page-subscribe input::placeholder {
    font-size: 14px;
    font-weight: 500;
    color: #b1c3ee;
}
.page-subscribe input {
    background-color: transparent;
    border: 1px solid rgba(255,255,255,0.2);
    padding:  0  0 0 40px ;
    font-size: 14px;
    color: #b1c3ee;
    height: 70px;
    border-radius: 35px;
    width: 100%;
    box-shadow: 10px 20px 30px rgba(1, 69, 90, 0.5);
}
.page-subscribe input:focus {
    outline: none
}

.btn-subscribe {
    color: #ffff;
    background-color: #1085e4;
    letter-spacing: 4px;
    border-radius: 30px;
    font-weight: 700;
    padding: 5px 56px;
    font-size: 14px;
    letter-spacing: .2em;
    line-height: 50px;
    border: 1px solid #1085e4;
    text-transform: uppercase;
    position: absolute;
    top: 5px;
    right: -34px;
}
.subscribe-box{   
    position: relative;
    max-width: 570px;
    display: block;
 }
.btn-submit {
    padding: 24px 45px;
    letter-spacing: 4px;
}





.page-software h2, .page-stat h2, .page-app h2, .page-suitable h2, .page-easy-etid h2 {
    font-size: 50px;
    font-weight: 600;
    color: #192b59;
}



.page-software dt {
    font-size: 16px;
    font-weight: 700;
    color: #5a6789;
}
.page-software-icon{
    display: block;
    background-image: url(../Image/software-icon.png);
    background-repeat: no-repeat;
    width: 103px;
    height: 92px;
}
.page-software h2{
    max-width: 570px;
    margin-top: 12px;
    margin-bottom: 26px;
    line-height: 1.3;
}
.soft-list dt{
    margin-bottom: 50px;
    margin-left: 0;
    line-height: 1.8;
}
.soft-list dd{
    margin-left: 0;
    margin-bottom: 50px;
}
.soft-list{
    margin-top: 30px;
    height: 340px;
    overflow: hidden;
    overflow-y: scroll;
}
.soft-flex{
    display: flex;
    justify-content: flex-end;
}
.soft-flex>div {
    flex-basis: 55%;
}
.page-software{
    padding: 110px 0 155px 0;
    background-image: url(../Image/BackGr2.png);
    background-repeat: no-repeat;
}
.screen-4{
    display: block;
    background-image: url(../Image/Screen4.png);
    background-repeat: no-repeat;
    width: 939px;
    height: 790px;
}
.soft-list::-webkit-scrollbar { width: 3px; height: 3px;}
.soft-list::-webkit-scrollbar-button {  background-color: #666; }
.soft-list::-webkit-scrollbar-track {  background-color: #999;}
.soft-list::-webkit-scrollbar-track-piece { background-color: #ffffff;}
.soft-list::-webkit-scrollbar-thumb { height: 50px; background-color: #666; border-radius: 3px;}
.soft-list::-webkit-scrollbar-corner { background-color: #999;}}
.soft-list::-webkit-resizer { background-color: #666;}





.page-stat{
    background-color: #edf6ff;
    padding: 115px 0px 95px 0px;
}
.stat-h2 {
    font-size: 50px;
    font-weight: 600;
    color: #192b59;
    line-height: 1.2;
    letter-spacing: -1.5px;
}
.stat-h2 span{
    display: block;
    font-size: 16px;
    font-weight: 800;
    color: #1085e4;
    margin-bottom: 15px;
    text-transform: uppercase;
    letter-spacing: 3px;
}
.page-stat .stat-h2 {
    text-align: center;
    max-width: 500px;
    margin: 0 auto;
}

.list-stat{
    display: flex;
    list-style-type: none;
    justify-content: space-around;
}
.list-stat>li {
    font-size: 12px;
    font-weight: 700;
    color: #1085e4;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2.5px;
}
.list-stat>li>span {
    display: block;
    font-size: 60px;
    font-weight: 700;
    color: #bacbdc;
    margin-bottom: 20px;
    letter-spacing: 0px;
}

.page-app p span {
    text-transform: uppercase;
    font-weight: 700;
    color: #c4d2dd;
}


.page-screen{
    background: #edf6ff;
    margin: 80px 0 0 0;
    text-align: center;
}
.title-h2 {
    font-size: 40px;
    font-weight: 600;
    color: #192b59;
    letter-spacing: -1.1px;
}
.title-h2 span {
    font-size: 18px;
    font-weight: 800;
    color: #1085e4;
    display: block;
    letter-spacing: 3.5px;
    margin-bottom: 27px;
}

.page-plan {
    background: #edf6ff;
    text-align: center;
}
.page-plan h2 span {
    font-size: 18px;
    color: #0084ff;
    text-transform: uppercase;
    letter-spacing: 0.2em;
}
.box-price{
    display: flex;
    justify-content: space-between;
    margin-top: 80px;
}
.box-price-item{
    background-color: #f5faff;
    flex-basis: 32%;
    padding: 90px 0 96px 0;
    position: relative;
}
.box-price-item h3 {
    color: #000958;
    font-size: 70px;
    letter-spacing: -1px;
    margin-bottom: 15px;
    margin-top: 0px;
}
.box-price-item h3 span {
    font-size: 20px;
}
.box-price-item p{
    font-size: 14px;
    color: #0084ff;
    text-transform: uppercase;
    letter-spacing: 3px;
}
.box-price-item h3 span:first-child {
    color: #000958;
}
.box-price-item active h3 span:first-child {
    color: #fff;
}
.box-price-item active h3 {
    color: #fff;
}
.box-price-item h3 span:last-child {
    color: #7b8ab2;
}
.box-price-item active {
    background-color: #152b59;
    color:#fff;
}
.box-price-item ul {
    list-style-type: none;
    padding-left: 0px;
    margin-top: 34px;
    margin-bottom: 60px;
    font-size: 14px;
}
.box-price-item ul>li {
    margin-bottom: 14px;
}


.page-plan .btn-primary {
    padding: 20px 60px;
}
.page-plan .btn-primary:hover {
    background: transparent ;
}

.active {
    width: 58px;
    background-color: #000958;
    color: #fff;
}
.active h3 {
    color: #fff;
}
